# Expressões lambda, map, filter e métodos

Expressão lambda

In [6]:
import numpy as np
import pandas as pd

In [47]:
def mult(value):
    data = pd.DataFrame(data=value)
    return np.mean(data.iloc[0])

In [48]:
value = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['col1', 'col2', 'col3'])

In [49]:
v = lambda test: np.mean(data.iloc[0])

In [50]:
v = (value)

In [51]:
v

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

In [52]:
def quadrado(value):
    return value ** 2

In [53]:
seq = [1,2,3,4,5,6]

In [54]:
list(map(quadrado, seq))

[1, 4, 9, 16, 25, 36]

In [62]:
list(map(lambda var: var ** 2, seq))

[1, 4, 9, 16, 25, 36]

In [65]:
list(filter(lambda par: par%2==0, seq))

[2, 4, 6]