In [37]:
import pandas as pd
import numpy as np

In [38]:
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]

In [39]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [40]:
inside

[1, 2, 3, 1, 2, 3]

In [41]:
hier_index = list(zip(outside, inside))

In [42]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [43]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [44]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [45]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])

In [46]:
df

             A         B
G1 1  1.264790  0.123015
   2  0.371019  1.207264
   3 -0.207682  0.152903
G2 1  0.382601  0.747019
   2 -0.033649 -2.316469
   3 -0.235399 -1.892943

In [47]:
df.loc['G1'].loc[2].iloc[-1]

1.2072637989737043

In [48]:
df.loc['G2'].loc[3]

A   -0.235399
B   -1.892943
Name: 3, dtype: float64

In [54]:
df.index.names = ['Grupo', 'Numero']

In [55]:
df

                     A         B
Grupo Numero
G1    1       1.264790  0.123015
      2       0.371019  1.207264
      3      -0.207682  0.152903
G2    1       0.382601  0.747019
      2      -0.033649 -2.316469
      3      -0.235399 -1.892943

In [64]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     1.264790  0.123015
G2     0.382601  0.747019