In [2]:
import numpy as np
import pandas as pd

In [4]:
labels = ['a', 'b', 'c']

In [6]:
my_list = [1, 2, 3]
arr = np.array([10, 20, 30])
d = {'1': 10, '2':20, '3':30}

In [17]:
pd.Series(data=my_list, index=labels)

a    1
b    2
c    3
dtype: int64

In [20]:
series = pd.Series(my_list, labels)
series

a    1
b    2
c    3
dtype: int64

In [30]:
series['c']

3

In [41]:
pd.Series(arr, my_list)

1    10
2    20
3    30
dtype: int32

### SÃ³ zoeira kkkkkk

In [42]:
pd.Series([sum, print, len, tuple, list, dict, False, True])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
3              <class 'tuple'>
4               <class 'list'>
5               <class 'dict'>
6                        False
7                         True
dtype: object

In [44]:
seri1 = pd.Series([1,2,3,4], index=['Brasil', 'Chile', 'Bolivia', 'Argentina'])
seri1

Brasil       1
Chile        2
Bolivia      3
Argentina    4
dtype: int64

In [50]:
seri2 = pd.Series(data=[1,2,3,4], index=['EUA', 'Europa', 'Brasil', 'Argentina'])
seri2

EUA          1
Europa       2
Brasil       3
Argentina    4
dtype: int64

In [51]:
seri1 + seri2

Argentina    8.0
Bolivia      NaN
Brasil       4.0
Chile        NaN
EUA          NaN
Europa       NaN
dtype: float64